<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO 목록 앱</title>

    <!-- 부트스트랩 적용을 위한 link 코드 -->
    <link
    rel="stylesheet"
    href="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/boot-strap-icons.css">
    
</head>
<body>
    <div class="container">
        <h1>TODO 추가하기</h1>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <form method="POST">
                                    <!-- csrf 놓치지 않도록 조심 --> {% csrf_token %} {{ form.as_p }} <!-- form 태그를 POST 방식으로 데이터 전송할 시 보안 문제 때문에 csrf_token도 붙여야 함 -->
                                    <button type="submit" class="btn btn-primary">등록</button>
                                </form>    
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
    </div>
</body>
</html>